@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Mono:wght@400;500&family=Figtree:wght@300;400;500;600&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-brand: 'Syne', sans-serif;
  --font-mono:  'DM Mono', monospace;
  --font-sans:  'Figtree', system-ui, sans-serif;
}
